body{
    margin: 0;
}

.header {
    background-color: #b6b6b6;
    border-bottom: 0px solid ;


}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}
.titulo{
    color: black;
}

.navbar{
    display: flex;
    list-style: none;
    width: 300px;
    justify-content: space-between;
    color: black;
}

.navbar a{
    color: black;
    outline: none;
    text-decoration: none;
}

/* Deixando em negrito o caminho da página */
.agora{
    font-weight: bolder;
}

.banner{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.banner .carrossel{
    display: flex;
    justify-content: space-around;
    text-decoration: none;

}

.carrossel img{
    width: 190px;
}

/* .banner button{
    display: flex;
    justify-content: space-around;
    height: 10px;
} */

/* onclick na imagem | span onclick*/

.social{
    margin: 0;
    padding: 2px;
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.social #sobre_mim{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social #paragrafo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.meus_pilares img{
    width: 350px;
}

.personalidade {
    display: flex;
    /* padding: 10px; */
}

.personalidade img{
    display: flex;
    width: 80px;
}

.familia{
    display: flex;
}

.familia img{
    width: 80px;
}

.footer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #b6b6b6;
}

.footer .container{
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.footer .left{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}