body{
    margin: 0;
}
.header{
    background-color: #b6b6b6;
    border-bottom: 0px solid ;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}
.titulo{
    color: black;
}

.navbar{
    display: flex;
    list-style: none;
    width: 300px;
    justify-content: space-between;
    color: black;
}

.navbar a{
    color: black;
    outline: none;
    text-decoration: none;
}

/* Deixando em negrito o caminho da página */
.quiz{
    font-weight: bolder;
}

.social .container{
    display: flex;
    height: 570px;
    width: 100%;
    flex-direction: row;
    gap: 70px; /* espaço entre as caixas*/
    padding: 2%;
}

.social .titulo h2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2%;
}

.container #pontuacaoEJogo{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 680px;
    justify-content: center;  /*vertical*/
    align-items:center; /*horizontal*/
    text-align: center;
    background-color: #dcdcdc;
    border-radius: 9px;
    color: black;
}

.botoa_iniciar #btnIniciarQuiz{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#botoes_de_acao{
    display: flex;
    flex-direction: row;
    padding: 8;
    gap: 10px;
}

#jogo {
    display: flex;
    flex-direction: column;  
    align-items: center;     
    justify-content: center; 
    gap: 10px;               
}

#opcoes {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.container #pontuacaoDuranteJogo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.container #pontuacaoFinalJogo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.container .ranking{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 600px;
    justify-content:flex-start;
    align-items: center;
    text-align: center;
    background-color: #dcdcdc;
    border-radius: 9px;
    color: black;
}

.footer{
    height: 100%;
    width: 100%;
    background-color: #b6b6b6;
}

.footer .container{
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.footer .left{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}